@using System.Reflection

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h1 style="text-underline-style: double">@ViewBag.Title</h1>
        <h5><breadcrumb></breadcrumb></h5></div>
    <div><p></p></div>
</div>
